.HeroTitle {
    font-size: 3em; 
}

.HeroSubtitle {
    font-size: 1.2em; 
    text-align: center;
}

.OrangeText {
    text-align: center;
    color: orange;
}
.CategoryItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}